/* Menu horizontal Blog Nivel */
.menu_opt{cursor:pointer; cursor: hand}
#menuWrapper {
width:100%; /* Ancho del menú */
height:40px;
padding-left:14px;
background: #00919e; /* Color de fondo */
margin-top: 0px;
box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2);
margin-bottom: 10px;
}
.menu {
width: 100%;
float: left;
font-size:13px; /* Tamaño de la fuente */
font-weight:bold;
}
.menu ul {
float: left;
height:0px;
list-style:none;
margin:0;
padding: 0 0 0 60px;
}
.menu li{
float:left;
padding:0px;
}
.menu li a, .menu_opt{
background: #00919e;
border-left: 1px solid #3D8272;
color:#ffffff; /* Color de la fuente */
display:block;
font-weight:normal;
line-height:40px;
margin:0px;
padding:0px 25px; /* Espacio entre cada pestaña */
text-align:center;
text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a, .menu_opt:hover {
background: #036e78; /* Color de las pestañas al pasar el cursor */
color:#FFFFFF; /* Color del texto al pasar el cursor */
text-decoration:none;
}
.menu li ul {
background: #00919e; /* Color de fondo del submenú */
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:200px; /* Ancho del submenú */
z-index:100;
border-top:1px solid #fff; /* Borde superior del submenú */
}
.menu li:hover ul{
display:block;
}
.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}
.menu li:hover li a, .menu_opt:hover {
background:none;
}
.menu li ul a, .menu li ul span, .menu_opt {
display:block;
height:40px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a, .menu_opt:hover{
background: #036e78; /* Color de las subpestañas al pasar el cursor */
color:#ffffff;
text-decoration:none;
}
.menuleft ul {
float:right;
height:0px;
list-style:none;
margin:0;
padding:0;
}
.menuleft li{
float:left;
padding:0px;
}
.menuleft li a{
background: #00919e;
border-left: 1px solid #3D8272;
color:#ffffff; /* Color de la fuente */
display:block;
font-weight:normal;
line-height:40px;
margin:0px;
padding:0px 25px; /* Espacio entre cada pestaña */
text-align:center;
text-decoration:none;
}
.menuleft li a:hover, .menuleft ul li:hover a {
background: #036e78; /* Color de las pestañas al pasar el cursor */
color:#FFFFFF; /* Color del texto al pasar el cursor */
text-decoration:none;
}
.menuleft li ul {
background: #00919e; /* Color de fondo del submenú */
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:230px; /* Ancho del submenú */
z-index:100;
border-top:1px solid #fff; /* Borde superior del submenú */
}
.menuleft li:hover ul{
display:block;
}
.menuleft li li {
display: block;
margin: 0px 4px 4px 0px;
padding: 7px;
width: 40px;
height: 40px;
float: left;
}
.menuleft li:hover li a {
background:none;
border-left-width: 0px;
}
.menuleft li ul a {
display:block;
height:40px;
width: 40px;
font-size:12px;
font-style:normal;
margin:0px;
padding-left: 5px;
padding-right: 5px;
text-align:left;
}
.menuleft li ul a:hover, .menuleft li ul li:hover a{
background:transparent; /* Color de las subpestañas al pasar el cursor */
color:#ffffff;
text-decoration:none;
padding-top: 1px;
padding-bottom: 1px;
}
/* Fin del Menu horizontal */